﻿body {
    background-color: #f1f4f7;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23474747' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 8vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-btn {
    background-color: rebeccapurple;
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 1px #8080805e;
    width: 110px;
}

.create-btn-a {
    color: white;
}

th {
    background: #39434a;
    color: white;
}

td {
    min-width: 132px;
    max-width: 450px;
    word-wrap: break-word;
}

a.edit {
    background: url(./Edit2.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

a.add {
    background: url(./Create2.jpg) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

a.delete {
    background: url(./Delete1.jpg) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

a.share {
    background: url(./shareIcon.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

a.details {
    background: url(./Details1.png) no-repeat top left;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
    color: rgba(0,0,0,0);
    display: inline-flex
}

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-fixed-top {
    transition: background-color 0.7s ease;
}

nav:hover {
    background-color: violet !important;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cdbfe3;
}

.navLink {
    color: rebeccapurple;
}

.relax {
    margin-left: 0;
    transition: margin-left 0.7s ease;
}
.relax:hover {
   margin-left: 10px;
}

canvas {
    border-radius: 4px;
}

nav {
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    background-color: white;
}

h2 {
    text-shadow: 0 2px 1px rgba(0, 138, 255, 0.40);
}

.six-col {
    column-count: 6;
    column-gap: 20px;
    -moz-column-count: 6;
    -moz-column-gap: 20px;
    -webkit-column-count: 6;
    -webkit-column-gap: 20px;
}

.bar {
    fill: dodgerblue;
}

.axis {
    font: 10px sans-serif;
}

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

li > a {
    color: rebeccapurple;
}

.y.axisRight text {
    fill: orange;
}

.y.axisLeft text {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar1 {
    fill: steelblue;
}

.bar2 {
    fill: orange;
}

.x.axis path {
    display: none;
}

.filter {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

td.spa-name-td {
    display: flex;
    flex-direction: column;
}

td.spa-name-td.recommended-spa::after {
    content: "Recommended!";
    color: purple;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.spa-card:hover {
    transform: scale(1.05);
    transition: .2s;
}

.spa-card {
    transition: .2s;
    background: #eee;
    margin: 1rem;
    padding-bottom: 1rem;
    width: 300px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

    .spa-card.new {
        background: #BBE2FB;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        min-height: 325px;
    }

    .spa-card.banner {
        width: 100%;
        height: 180px;
        overflow-y: hidden;
    }

        .spa-card.banner:hover {
            transform: none;
            transition: 0s;
            cursor: default;
        }

    .spa-card > .info {
        text-align: center;
        margin: 1rem 0;
    }

    .spa-card > img {
        width: 100%;
    }

    .spa-card > .info > .location {
    }

        .spa-card > .info > .location > img {
            width: 12px;
            height: 12px;
            margin-right: -12px;
        }

    .spa-card > .info > h1, .spa-card > .info > h3 {
        margin: 0;
    }
