﻿@{
    ViewData["Title"] = "Home Page";
}
<canvas id="canvas" width="1140" height="350"></canvas>
<script>
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var imageObj = new Image();

    imageObj.onload = function () {
        context.drawImage(imageObj, 0, 0);
    };

    imageObj.src = '/Content/cover.jpg';
</script>

<div class="row">
    <div class="col-md-6">
        <h2 class="relax">Just Relax</h2>
        <video width="560" height="317" controls>
            <source src="~/Content/spa.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-md-6" style="padding-left: 80px;">
        <br />
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1357660257772391';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-page" data-href="https://www.facebook.com/IsraelSpa-130088968534973"
             data-tabs="timeline" data-width="500" data-height="360" data-small-header="false" data-adapt-container-width="true"
             data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IsraelSpa-130088968534973" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IsraelSpa-130088968534973"></a></blockquote></div>
    </div>
</div>
    <center>
        <div class="weather">
        <p>
            the wather today: @ViewData["weather"]
        </p>
        <p>
            @ViewData["weather-recomendation"]
        </p>
        </div>
    </center>