﻿@model app.Models.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Spa spa = ViewBag.spa;
}
<div style="margin: 2.25vmax 0vmax 2.25vmax 37vmax; width: 55vw">
    <h2>Create Reservation For Spa @ViewBag.spa.Name</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="spaId" value="@spa.Id"/>
                <div class="form-group">
                    <label asp-for="Patients" class="control-label"></label>
                    <input asp-for="Patients" onblur="updatePrice()" min="1" max="@spa.MaxPatients" class="form-control" />
                    <span asp-validation-for="Patients" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" disabled class="form-control" />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartingTime" class="control-label"></label>
                    <input asp-for="StartingTime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left: 6vw">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div style="margin-left: 6vw">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function updatePrice() {
            var PatientsElem = document.getElementById("Patients");
            var priceElem = document.getElementById("TotalPrice");
            priceElem.value = @spa.PricePerPatient * PatientsElem.value;
        }
    </script>
}