﻿@model app.Models.Reservation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Spa spa = ViewBag.spa;
}

<h2>Edit</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="spaId" value="@spa.Id" />
            <div class="form-group">
                <label asp-for="Patients" class="control-label"></label>
                <input asp-for="Patients" onblur="updatePrice()" class="form-control" min="1" max="@spa.MaxPatients" />
                <span asp-validation-for="Patients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input disabled value="@Model.TotalPrice" asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <input asp-for="StartingTime" class="form-control" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        function updatePrice() {
            var PatientsElem = document.getElementById("Patients");
            var priceElem = document.getElementById("TotalPrice");
            priceElem.value = @spa.PricePerPatient * PatientsElem.value;
        }
    </script>
}