﻿@model IEnumerable<app.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 90vw">
    <div style="margin-top: 2.25vmax; width: 61vw">
        <h2>Reservations</h2>

        <form class="form-inline filter" asp-controller="Reservations" asp-action="index">
            <div class="form-group">
                <label class="control-label" for="spaName">Spa name</label>
                <input class="form-control" type="text" name="spaName">
            </div>
            <div class="form-group">
                <label class="control-label" for="patients">Number of patients</label>
                <input class="form-control" type="number" name="patients" min="1" max="100">
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <input class="form-control" type="text" name="address">
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label class="control-label" for="emailAddress">Email</label>
                        <input class="form-control" type="text" name="emailAddress" />
                    </div>
                }
            }
            <input class="btn btn-primary" type="submit" value="Apply" />
        </form>
        <table class="table" style="width: 90vw; text-align: center">
            <thead style="background-color: rgb(115, 0, 153); color: white">
                <tr>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.Spa.Name)
                    </th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th style="text-align: center">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </th>
                    }
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.Spa.Address)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.Patients)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayNameFor(model => model.StartingTime)
                    </th>
                    <th style="text-align: center">action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spa.Name)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Spa.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patients)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingTime)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>