﻿@model IEnumerable<app.Models.SpaType>

@{
    ViewData["Title"] = "Spa Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spa Types</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="SpaTypes" asp-action="Index">
    <p>
        Search by type name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAge)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<h3>Spa per spa type</h3>
<br />
<div id="spa-per-spatype-graph"></div>

<script type="text/javascript">$.ajax({
    url: "/SpaTypes/GetSpasPerSpaTypeGraph",
        context: document.body
    }).done(function (data) {
        create_pie_chart_spaType(data, "#spa-per-spatype-graph");
    });</script>
<script type="text/javascript">var url = "/SpaTypes/GetSpaTypeList"
    var select = document.getElementById("SpaType_Name")
    $.ajax({
        type: 'GET',
        url: url,
        contentType: 'json',
        success: function (types) {

            for (var i = 0; i < types.length; i++) {
                var option = document.createElement("option");
                option.text = spaTypes[i];
                select.add(option);
            }
        }
    })</script>
