﻿@model app.Models.Spa

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Spa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" minlength="1" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" minlength="1" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" minlength="1" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPatients" class="control-label"></label>
                <input asp-for="MaxPatients" min="1" class="form-control" />
                <span asp-validation-for="MaxPatients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerPatient" class="control-label"></label>
                <input asp-for="PricePerPatient" min="0" class="form-control" />
                <span asp-validation-for="PricePerPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" min="0" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaType.Name" class="control-label"></label>
                <select id="SpaType_Name" name="SpaType.Name" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var url = "/SpaTypes/GetSpaTypesList"
        var select = document.getElementById("SpaType_Name")
        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'json',
            success: function (types) {

                for (var i = 0; i < types.length; i++) {
                    var option = document.createElement("option");
                    option.text = types[i];
                    select.add(option);
                }
            }
        })</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

