﻿@model app.Models.Spa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Spa</h4>
    <hr />
    <aside>
        @Model.Description
    </aside>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxPatients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPatients)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>
<div>
	@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
	{
		<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
		<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"> Delete</a>
	}
	@if (User.Identity.IsAuthenticated)
	{
		<a asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-success">Order</a>
	}
	<a asp-action="Index">Back to List</a>
</div>
