﻿@model IEnumerable<app.Models.Spa>

@{
    ViewData["Title"] = "Spas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spas</h2>
<div id="myMap" style="position:relative;width:800px;height:600px;"></div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p class="create-btn">
        <a class="create-btn-a" asp-action="Create">Create New</a>
    </p>
}

<form class="form-inline filter" asp-controller="Spas" asp-action="Index">
	<div class="form-group">
		<label class="control-label" for="spaName">Spa name </label>
		<input class="form-control" type="text" name="spaName">
	</div>
	<div class="form-group">
		<label class="control-label" for="patients">Number of Patients </label>
		<input class="form-control" type="number" name="patients" min="1" max="100">
	</div>
	<div class="form-group">
		<label class="control-label" for="maxPrice">Max price per patient </label>
		<input class="form-control" type="number" name="maxPrice" min="1" max="1000">
	</div>
	<div class="form-group">
		<label class="control-label" for="address">Address</label>
		<input class="form-control" type="text" name="address">
	</div>
	<div class="form-group submit">
		<input class="btn btn-primary" type="submit" value="Apply" />
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SpaType.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MaxPatients)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PricePerPatient)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Duration)
			</th>
			<th>
				Image
			</th>
			<th></th>
		</tr>
		<adise>
			<br>All spa rooms are accessible to you by SpaForYou, the world's leading care product company<br>
		</adise>
	</thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="@item.Id">
            <td class="spa-name-td">
                <span>
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPatients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
			<td>
				<img src=@item.ImgUrl height="100" width="100">
			</td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    <div class="btn-group" role="group" style="display: flex; margin: 0 5px;">
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var map;
    var searchManager;

    function GetMap() {
        map = new Microsoft.Maps.Map("#myMap", { zoom: 7 });

        @foreach (var item in Model) {
            @:addSpaToMap('@item.Name', '@item.Address');
        }
    }

    function addSpaToMap(name, address) {
        findLocationByAddress(address, function (location) {
            var spaLocation = location;
            var spaPoint = new Microsoft.Maps.Pushpin(spaLocation);
            var infobox = new Microsoft.Maps.Infobox(spaLocation, {
                title: name,
                description: address,
                visible: false
            });
            infobox.setMap(map);
            Microsoft.Maps.Events.addHandler(spaPoint, 'click', function () {
                infobox.setOptions({ visible: true });
            });
            map.entities.push(spaPoint);
        });
    }

    function findLocationByAddress(address, foo) {
        // If search manager is not defined, load the search module
        if (!searchManager) {
            // Create an instance of the search manager and re-enter function
            Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                searchManager = new Microsoft.Maps.Search.SearchManager(map);
                findLocationByAddress(address, foo);
            });
        } else {
            var searchRequest = {
                where: address,
                callback: function (r) {
                    foo(r.results[0].location);
                },
                errorCallback: function (e) {
                    // If there is an error
                    console.log("No results found for this address: " + address);
                }
            };

            // Make the geocode request
            searchManager.geocode(searchRequest);
        }
    }
</script>
<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AmTbZrbvXwVy0XO22GneszL2g9TZqn9gsLSs8ejbQe-EIb5_QvppPlAyyD_59HII" async defer></script>
<script>
    $.ajax({
        url: "../../Spas/UserRecommendedSpas",
        context: document.body
    }).done(function (data) {
        recommended_spas_ids = data

        console.log(recommended_spas_ids)

        for (var id of recommended_spas_ids) {
            $(`#${id} .spa-name-td`).addClass('recommended-spa');
            console.log(id);
        }
    });
</script>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <script type="text/javascript">
            $.ajax({
                url: "/Spas/MostProfitableSpas",
                context: document.body
            }).done(function (data) {
                create_pie_chart(data, "#most-profitable-spas-chart");
            });

        </script>
    }}
