﻿@model IEnumerable<app.Models.Spa>
@{
    ViewData["Title"] = "Statistics";
}

<center><h2>Most Profitable Rooms</h2></center>
<div style="margin-left:80px;" id="most-profitable-spas-chart"></div>

<script type="text/javascript">
    $.ajax({
        url: "/Spas/MostProfitableSpas",
        context: document.body
    }).done(function (data) {
        create_pie_chart(data, "#most-profitable-spas-chart");
    });

</script>
