﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

	<div style="margin: 2.25vmax 37vmax; width: 61vw">
		<h2>@ViewData["Title"]</h2>
		<div class="row">
			<div class="col-md-4">
				<section>
					<form method="post">
						<hr />
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="Input.UserName"></label>
							<input asp-for="Input.UserName" class="form-control" />
							<span asp-validation-for="Input.UserName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Input.Password"></label>
							<input asp-for="Input.Password" class="form-control" />
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label asp-for="Input.RememberMe">
									<input asp-for="Input.RememberMe" />
									@Html.DisplayNameFor(m => m.Input.RememberMe)
								</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Log in</button>
						</div>
						<div class="form-group">
							<p>
								<a asp-page="./ForgotPassword">Forgot your password?</a>
							</p>
							<p>
								<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
							</p>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
